<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pydanny.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css" />
    <link href="{{ SITEURL }}/theme/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">

    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ SITEURL }}/theme/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/theme/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/theme/images/apple-touch-icon-114x114.png">

    <link href="https://pydanny.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

  </head>

  <body>

    <div class="pre-navbar">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h1 class="site-logo">
              <a href="{{ SITEURL }}">
              <img src="{{ SITEURL }}/theme/img/inside-head-of-pydanny.png" alt="Inside the Head of PyDanny" title="Click to return to Daniel Greenfeld's homepage" />
              </a>
            </h1>
          </div>
          <div class="offset1 span5">
            <p class="about-this-blog">
              Hi, I'm Daniel Roy Greenfeld, and welcome to my blog. I write about Python, Django, and much more.
            </p>
          </div>
        </div>
        <div class="pydanny-cartwheel"></div>
      </div>
    </div>
    <div class="grass"></div>
    <div class="navbar navbar-fixed-top" id="pydanny-navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
                <li><a href="{{ SITEURL }}">Home</a></li>
                <li><a href="{{ SITEURL }}/pages/about.html">About</a></li>
                <li><a href="{{ SITEURL }}/pages/events.html">Events</a></li>
                <li><a href="{{ SITEURL }}/pages/projects.html">Projects</a></li>
                <li><a href="{{ SITEURL }}/pages/tools.html">Tools</a></li>
                <li><a href="{{ SITEURL }}/category/audrey.html">Audrey</a></li>
                <li><a href="{{ SITEURL }}/category/blog.html">Blog</a></li>
                <li><a href="{{ SITEURL }}/category/book.html">Book</a></li>
                <li><a href="{{ SITEURL }}/category/django.html">Django</a></li>
                <li><a href="{{ SITEURL }}/category/python.html">Python</a></li>

            </ul>
            <!--<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span8" id="content">
            {% block content %}
            {% endblock %}
        </div><!--/span-->

        <div class="offset1 span3 sidebar-nav" id="sidebar">
            {% include 'sidebar.html' %}
        </div><!--/.well -->

      </div><!--/row-->

      <hr>

      <footer>
        <address id="about">Content Copyright © 2013 Daniel Greenfeld.
                Proudly powered by <a href="http://pelican.notmyidea.org/">Pelican <i class="icon-external-link"></i></a>,
                                which takes great advantage of <a href="http://python.org">Python <i class="icon-external-link"></i></a>. Adapted from the <a href="https://github.com/getpelican/pelican-themes/tree/master/bootstrap2">Pelican Bootstrap2</a> theme by <a href="http://www.audreymroy.com">Audrey M. Roy</a>. Support my work by spreading the word about <a href="http://twoscoopspress.com/products/two-scoops-of-django-1-8">Two Scoops of Django: Best Practices For Django 1.8</a>.
        </address><!-- /#about -->
      </footer>

    </div><!--/.container-->


    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ SITEURL }}/theme/js/jquery-1.7.2.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  </body>
</html>
