<ul class="nav nav-list">
{% if LINKS %}
<li class="nav-header"><h4><i class="icon-external-link"></i>blogroll</h4></li>
{% for name, link in LINKS %}
    <li><a href="{{ link }}"><i class="icon-external-link"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}
</ul>

<h4>Two Scoops of Django 1.8</h4>

<p><a href="http://twoscoopspress.com/products/two-scoops-of-django-1-8">The new edition is out!</a></p>

<a href="http://twoscoopspress.com/products/two-scoops-of-django-1-8"><img class="two-scoops-cover-thumb" src="http://twoscoops.smugmug.com/Two-Scoops-Press-Media-Kit/i-LPrcKVv/0/S/1.8-cover-front-v3c-1350x1665-M.png"></a>

<p>
This book is chock-full of material that will help you with your Django projects.</p>


<h4>Into the Brambles</h4>

<p><a href="http://mybook.to/itb">My first fiction book!</a></p>

<a href="http://mybook.to/itb"><img class="two-scoops-cover-thumb" src="{{ SITEURL }}/theme/img/itb.png" /></a>

<p>The world was ancient, scarred from a thousand wars between gods, immortals, and heroes. Old grudges have faded but are not forgotten.</p>

<p>At the end of a so-called ‘age of peace’, two great nations of immortals march against each other, with humanity caught in the middle. In this world of conflict, three very different individuals are thrust into the face of danger.</p>


{% if SOCIAL %}
<h4 class="nav-header">Follow Me</h4>
{% for name, link in SOCIAL %}
    <p class="capitalize"><i class="icon-{{ name }} icon-large"></i> <a href="{{ link }}">{{ name.replace("-sign", "") }}</a></p>
{% endfor %}
{% endif %}

<h4>Subscribe To My Feed</h4>

<p>
While you're here, why not add my <a href="{{ SITEURL }}/feeds/all.atom.xml" rel="alternate">atom feed</a> to your RSS reader?
</p>

<h4 class="nav-header">Tags</h4>
{% for tag in tag_cloud %}
<span class="tag-{{ tag.1 }}">
    <a href="{{ SITEURL }}/{{ tag.0.url }}">
        {{ tag.0 }}
    </a>
</span>
{% endfor %}

{% include 'search_sidebar.html' %}

{% if SIDEBAR_CUSTOM %}
    {{ SIDEBAR_CUSTOM }}
{% endif %}
